/* Form */
.modal-container {
	width: 435px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	max-height: 597px;

	@media screen and (max-width: $bp-desktop) {
		min-width: 241px;
	}
}

.modal-paragraf {
	max-width: 100%;
	margin-bottom: 32px;
	color: var(--beauty-landing-4);
	width: 274px;
	height: 52px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	margin: 0 0 32px 0;
	@media screen and (max-width: $bp-tablet) {
		font-weight: 700;
		margin-bottom: 24px;
		font-size: 16px;
	}
}
.form-field {
	margin-bottom: 24px;
	width: 310px;
	height: 51px;

	@media screen and (max-width: $bp-tablet) {
		max-width: 241px;
		max-height: 46px;
	}
}
.form-label {
	display: none;
	height: 0px;
	width: 0px;
	display: block;
	overflow: hidden;
}
.form-input {
	padding: 18px 32px;
	width: 100%;
	max-width: 310px;
	font-size: 13px;
	line-height: 1.17;
	border: 2px solid #747272;
	border-radius: 32px;
	background-color: transparent;
	color: var(--beauty-landing-4);
}

.form-input:focus {
	background-color: #747272;
	outline: none;
}
.form-input::placeholder {
	color: var(--beauty-landing-4);
	font-size: 13px;
	line-height: 1.17;
	font-weight: 400;
}

.form-input:focus::placeholder {
	color: var(--beauty-landing-4);
}

.form-button {
	display: flex;
	margin: 0 auto;
	max-width: 310px;
	padding: 16px 32px;
	font-size: 18px;
	white-space: nowrap;
	margin-bottom: 8px;

	@media screen and (max-width: $bp-tablet) {
		max-width: 241px;
		padding: 12px 20px;
		font-size: 16px;
	}
}

.modal-btn-close {
	border: 0px;
	background-color: #011c44;
	padding: 0px;
}
.icon-close {
	width: 32px;
	height: 32px;
}

.icon-close {
	background-color: transparent;
}
.form-button:hover {
	color: var(--beauty-landing-4);
}

.button:disabled {
	color: gray;
	background-color: lightgray;
	cursor: not-allowed;
}

.form-terms {
	color: #747272;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 500;
	text-align: center;
	max-width: 220px;
	margin: 0 auto;
	text-align: center;
}
.form-terms-link {
	color: #747272;
	text-underline-offset: 2px;
}
