/* Fonts */
/* roboto */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-700.ttf") format("truetype");
}

/* play */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/play-v19-latin-regular.woff2") format("woff2"),
    url("/fonts/play-v19-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/play-v19-latin-700.woff2") format("woff2"),
    url("/fonts/play-v19-latin-700.woff2") format("truetype");
}

:root {
  --beauty-landing-1: #2b7fff;
  --beauty-landing-2: #011c44;
  --beauty-landing-3: #4a4a4a;
  --beauty-landing-4: #fff;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  /* background-color: aqua; */
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: var(--beauty-landing-2);
}
.section {
  width: 1440px;
  margin: 0 auto;

/* Header */
.header {
  display: inline-flex;
}
.logo {
  color: var(--beauty-landing-1);
  font-family: Play;
  font-size: 22px;
  font-weight: 700;
>>>>>>> cece813d98a2a7f2cb803e8eff9b06a7c85993ef:styles.css
}

a {
  list-style-type: none;
  text-decoration: none;
}
ul {
  list-style-type: none;
  text-decoration: none;
}

.section-title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}

/* header */
.header {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  flex-shrink: 0;
  height: 106px;
  margin-bottom: 16.52px;
}

.hero-section {
  background: url(../media/image\ 1576.png),
    rgb(255, 255, 255) 0px -5.999px / 100% 111.79% no-repeat;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
  flex-shrink: 0;
}

.header-gradient {
  flex-shrink: 0;
  background: linear-gradient(
    89deg,
    #fff 30.62%,
    rgba(255, 255, 255, 0.85) 41.31%,
    rgba(255, 255, 255, 0.19) 58.65%,
    rgba(255, 255, 255, 0) 72.78%
  );
}

.header-container {
  display: inline-flex;
  margin: 0 auto;
  gap: 240px;
  box-sizing: content-box;
  align-items: center;
  /*  */
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
}

.header-icons {
  display: flex;
  gap: 32px;
}
.header-icon {
  width: 32px;
  height: 32px;
  fill: var(--beauty-landing-2);
}

.hero-container {
  width: 529px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-left: 206px;
  margin-bottom: 126px;
  padding: 0;
}
.hero-paragraf {
  margin: 0;
}

.hero-title-container {

}
.button-container {
  gap: 14px;
  width: 238px;
}

.logo {
  color: var(--beauty-landing-1);
  font-family: Play;
  font-size: 22px;
  font-weight: 700;
}

.hero-title {
  margin: 0px;
  width: 529px;
  color: var(--beauty-landing-1);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.87;
  text-transform: capitalize;
}

.button {
  padding: 16px 32px;
  font-size: 18px;
  color: var(--beauty-landing-4);
  font-weight: 600;
  line-height: normal;
  border-radius: 32px;
  border: 2px solid #2b7fff;
  background-color: var(--beauty-landing-1);
}

.button:hover {
  background-color: transparent;
  color: var(--beauty-landing-2);
  cursor: pointer;
}
.link {
  line-height: normal;
  text-decoration: none;
}

.link:hover {
  color: var(--beauty-landing-1);
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.free-consultation {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: var(--beauty-landing-3);
}

/* 2 about-us-section */
.about-us-section {
  display: flex;
  margin-bottom: 176px;
}
.about-us-container {
  gap: 28px;
  margin: 0 auto;
  display: flex;
}
.title-section2 {
  width: 529px;
  margin: 0px;
}
.accent {
  color: var(--beauty-landing-1);
}

.accent-zone {
  text-transform: capitalize;
  color: var(--beauty-landing-1);
}

.accent-paragraf {
  font-weight: 600;
  text-transform: capitalize;
}

.about-us-info {
  display: inline-flex;
  flex-direction: column;
  width: 709px;
  gap: 40px;
  flex-grow: 1;
}
.about-us-paragraf {
  font-size: 22px;
  line-height: 1.72;
  width: 665px;
}
.about-us-photos {
  display: flex;
  flex-direction: column;
}
.Photo-after {
  width: 327px;
  height: 327px;
  border-radius: 171px;
  margin: 0 auto;
  margin-left: 168px;
}
.photo-beefore {
  width: 335px;
  height: 328px;
  border-radius: 171px;
  margin-bottom: 40px;
}
/* 3 advantages-section */
.advantages-section {
  margin-bottom: 96px;
}
.advantages-container {
  margin: 0 auto;
}
.advantages-title {
  margin: 0px auto;
  width: 529px;
  text-align: center;
}

.advantages-paragraf {
  margin: 0px;
  color: #000;
  line-height: 1.3;
}

.advantages-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}
.advantages-link {
  width: 316px;
  text-align: center;
  gap: 8px;
  border-radius: 32px;
  background: #fff;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
/* Services */
.services-section {
  margin:  0 auto;
  margin-bottom: 96px;
}
.services-container {
  margin: 0 auto;
  display: flex;
  gap: 32px;
  width: 1216px;
  align-items: center;
  padding-bottom: 32px;

}
.services-title {
  text-align: center;
  margin: 0px 0px 48px 0px;
}
.services-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.services-link {
  display: flex;
  justify-content: center;
  width: 344px;
  height: 456px;
  border-radius: 120px 4px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
}

.services-list-container:nth-child(1) {
  background-image: url(../media/маски\ для\ обличчя.png);
}

.services-list-container:nth-child(2) {
  background-image: url(../media/інкції\ для\ обличчя.png);
}
.services-list-container:nth-child(3) {
  background-image: url(../media/очищення\ обоиччя.png);
}
.services-list-container {
  border-radius: 120px 4px;
}

.servises-article {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 0px;
  flex-shrink: 0;
}
.servises-article-title {
  width: 142px;
  text-align: center;
  color: var(--beauty-landing-4);
}

.services-carousel {
  background-color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--beauty-landing-2);
  cursor: pointer;
}
.services-arrow {
  fill: var(--beauty-landing-2);
 width: 40px;
 height: 40px;
}

.services-carousel:hover {
  background-color: var(--beauty-landing-1);
  
}
.services-arrow:hover {
  fill: var(--beauty-landing-4);
}
/* CONTACT 5 */
.contact-section {
  margin-bottom: 96px;
}
.contact-container {
  text-align: center;
}

.contact-section-title {
  margin: 0px 0px 48px 0px;
}
.contact-info-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.contact-map {
  border-radius: 32px;
}
.map {
  border-radius: 32px;
}

.contact-form {
  display: flex;
  width: 423px;
  height: 481px;
  border-radius: 32px;
  background: var(--beauty-landing-2);
}

/* Footer */
.footer {
  display: flex;
  width: 1440px;
  margin: 0 auto; 
 }
/* FOOTER */
footer {
  background-color: var(--beauty-landing-2);
  font-size: 16px;
  background-image: url(../media/footer-photo.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  flex-shrink: 0;
}
.footer-container {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  gap: 186px;
  width: 1240px;
  margin: 0 auto;
  padding: 56px 0%;
  gap: 186px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}
.footer-link,
.address {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  line-height: normal;
  text-decoration: none;
  gap: 16px;
}

.footer-link:hover,
.address:hover {
  color: var(--beauty-landing-1);
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  width: 192px;
  margin: 0px;
  padding: 0px;
  gap: 16px;
}

.footer-icons {
  gap: 24px;
  margin-top: 16px;
}
.footer-icon {
  width: 32px;
  height: 32px;
  fill: var(--beauty-landing-4);
}

.address-copyright {
  color: #747272;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
